# Pycharm Settings
.idea/

# Raw data
data/

# API credentials
credentials.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Log files
*.log

# Environment directories
env/
venv/
